 body {
   background-color: lightgray;
 }

.todo-app {
  // margin: 2rem auto 0 auto;
  background-color: whitesmoke;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 25px;
}

.top-panel {
  margin: 1rem 0;
}

 